/* Modal Background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  }
  
  .genres-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .genres-list button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .genres-list button.selected {
    background-color: #007bff;
    color: white;
  }
  
  /* Styling for sorting dropdown */
  select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 220px; /* Adjust width as needed */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins";
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  select:focus {
    border-color: var(--primary);
    outline: none;
  }
  
  /* Optional styles for better aesthetics */
  select option {
    padding: 10px;
    font-family: "Poppins";
  }