.trailerCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: black;
    height: 250px; 
    width: 270px;
    position: relative;
}

.trailerCard:hover {
    box-shadow: 5px 5px 5px  #968a6a;
}

.trailerCard::after {
    content: "Tap for details!";
    position: absolute;
    top: 85%; /* Adjust as needed for vertical placement */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Match the genre font size */
    font-weight: bold;
    color: #917b58; /* Match the genre text color */
    background-color: #e4ded4; /* Match the genre background color */
    padding: 5px 10px; /* Match the genre padding */
    border-radius: 20px; /* Match the genre border radius */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap; /* Prevent text from wrapping */
}

.trailerCard:hover::after {
    opacity: 1;
}

.trailerLink {
    text-decoration: none;
}

.videoContainer {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.trailerVideo {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.trailerName {
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
}

.genresList {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */
    opacity: 1; /* Genres visible by default */
}

.trailerCard:hover .genresList {
    opacity: 0; /* Hide genres on hover */
}

.genresList li {
    font-size: 14px;
    margin: 5px; 
    background-color: #e4ded4;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    color: #917b58;
    font-weight: bold;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
